<div id="modal" class="hide">
    <div id="content">
        <div class="header">
            <h1>
                Pontos de coleta <a href="#">Fechar</a>
            </h1>
        </div>
    </div>
    <form action="/search-results.html">
        <label for="search">Cidade</label>
        <div class="search field">
            <input type="text" name="search" placeholder="Pesquise por cidade">
            <button>
                <img src="/assets/icones/search.svg" alt="buscar">
            </button>
        </div>
    </form>
</div>